@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #818181;
  --primary-btn-bg-color: #245866;
  --secondary-btn-bg-color: #4a5557;
  --light-green-bg: #e6f0f2;
  --on-light-green-text: #424c4d;
  --dark-gray-shade: #212224;
  --light-gray-shade: #2a393c;
}

body {
  background-color: var(--bg-color);
  max-width: 1600px;
  margin: auto;
}

.dark-gradient {
  background: rgb(32, 33, 35);
  background: linear-gradient(180deg, rgba(32, 33, 35, 1) 0%, rgba(43, 57, 60, 1) 100%);
}

.icon {
  color: var(--primary-btn-bg-color);
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.image-slider {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  animation: slide 20s linear infinite;
}

.slide-down {
  animation: slide-down 0.3s forwards;
}

.slide-up {
  animation: slide-up 0.3s forwards;
}

@keyframes slide-down {
  from {
    transform: translateY(-72px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-72px);
  }
}


/* ------------------------------------------------------------------- */
/* -------------------------TYPOGRAPHY -------------------------------- */
/* ------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.p1-paragraph,
.p2-paragraph,
.n1-note,
.n2-note,
.btn,
a {
  font-family: "Sofia Sans", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 100px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.p1-paragraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.p2-paragraph {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.n1-note {
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
}

.n2-note {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.secondary-text {
  color: var(--secondary-text-color);
}


/* ------------------------------------------------------------------- */
/* ---------------------- Responsive Design -------------------------- */
/* ------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
  }
}